<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @await Component.InvokeAsync("Head")
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="~/assets/css/style.css" asp-append-version="true">
</head>
<body>

       <header>
        <nav class="navbar navbar-expand-lg fixed-top">
            <div class="container">
                @await Component.InvokeAsync("Header")

                <div class="ms-auto">
                    <a class="btn-contact" href="/contact">
                        <i class="fas fa-phone me-2"></i>İletişim
                    </a>
                </div>
            </div>
        </nav>
    </header>


    <div id="mainContent">
    @RenderBody()
    </div>

    @await Component.InvokeAsync("Footer")
   


    @await Component.InvokeAsync("Phone")

  

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
