@model IEnumerable<Slider>

<div class="container">
	<div class="col-lg-12 col-xl-12 shadow my-4">
		@if (ViewBag.Message != null)
		{
			<div id="successMessage" class="alert alert-success alert-dismissible fade show shadow-sm fw-semibold" role="alert">
				<i class="fas fa-check-circle me-2"></i>
				@ViewBag.Message
			</div>
		}
	</div>
</div>

<div class="container">
	<div class="col-lg-12 col-xl-12 shadow my-4">

		<div class="card border-0">
			<div class="card-header bg-primary text-white py-3 d-flex justify-content-between align-items-center mb-2">
				<h6>Slider Ayarları</h6>
			</div>
			<div class="d-flex flex-column flex-md-row justify-content-center align-items-center align-items-md-center mb-3 gap-2 px-1">

				<a asp-action="Add" class="btn btn-outline-success mt-2 w-100">
					<i class="fas fa-plus me-2"></i>Yeni Ürün
				</a>
			</div>

			<div class="table-responsive px-1">
				<table class="table table-hover align-middle">
					<thead class="table-light">
						<tr>
							<th scope="col">Resim</th>
							<th scope="col" class="text-end">İşlemler</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var item in Model)
						{
							<tr>
								<td><img src="@item.ImageUrl" height="60" width="60" /></td>

								<td class="text-end">
									<div class="btn-group" role="group">

										<a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-primary btn-sm" title="Düzenle">
											<i class="fas fa-edit"></i>
										</a>
										<form asp-action="Delete" asp-route-id="@item.Id" method="post" onsubmit="return confirm('Silmek istediğinize emin misiniz?')" style="display:inline;">
											<button type="submit" class="btn btn-outline-danger btn-sm" title="Sil">
												<i class="fas fa-trash-alt"></i>
											</button>
										</form>

									</div>
								</td>

							</tr>
						}
					</tbody>
				</table>
			</div>
		</div>


	</div>


	<script>
		// Başarı mesajını 7 saniye sonra kaybolacak şekilde animasyonlu gizle
		window.addEventListener('DOMContentLoaded', () => {
			const successMessage = document.getElementById('successMessage');
			if (successMessage) {
				setTimeout(() => {
					successMessage.classList.remove('show'); // fade out için
					successMessage.classList.add('fade');    // animasyon
					setTimeout(() => {
						successMessage.remove(); // DOM'dan kaldır
					}, 500); // fade-out süresi (ms)
				}, 7000); // 7 saniye bekleme süresi
			}
		});
	</script>
