<a class="navbar-brand fw-bold" href="/">
    <div class="text"
         style="font-size: 1.8rem; background: var(--gradient); -webkit-background-clip: text; -webkit-text-fill-color: transparent; background-clip: text;">
        @Model.Title
    </div>
</a>