<section class="about py-5 bg-light" >
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-lg-8">
                <h2 class="mb-4">@Model.Title</h2>
                <p class="lead" style="display:flex;align-content:center">
                    @Model.Description
                </p>
              
            </div>
        </div>
    </div>
</section>
