<!-- Hero Section -->
<section class="hero mb-3">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 hero-content">
                <h1>@Model.Title</h1>
                <p>
                    @Model.Description
                </p>
                <div class="hero-buttons">
                    <a href="#hizmetler" class="btn-hero btn-primary-hero">Hizmetlerimiz</a>
                    <a href="/about" class="btn-hero btn-outline-hero">@ViewData["AboutSlug"]</a>
                </div>


            </div>
        </div>
    </div>
</section>