  <!-- Floating Icons -->

     <a href="tel:+@Model.Phone" class="floating-icon phone-icon">
        <i class="fas fa-phone-alt"></i>
    </a>

<a href="https://wa.me/@Model.WhattsapPhone" target="_blank" class="floating-icon whatsapp-icon">
        <i class="fab fa-whatsapp"></i>
    </a>

 